@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

// /* You can add global styles to this file, and also import other style files */
// /* Application-wide Styles */

html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

body {
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  overflow: hidden;

  .header {
    flex: none;
    height: 8vh;
    background-color: #dcdcdc;
    align-self: flex-start;
  }

  .content {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    max-height: 100vh - 14vh;
    min-height: 100vh - 14vh;
    overflow: scroll;
  }

  .footer {
    flex: none;
    height: 6vh;
    background-color: #dcdcdc;
    align-self: flex-end;
  }
}

$i: 0;
@while $i <= 6 {
  .margin-#{$i} { 
    margin: 2em * $i; 
  }

  $i: $i + 2;
}

$i: 0;
@while $i <= 3 {
  .padding-#{$i} { 
    margin: 1em * $i; 
  }

  $i: $i + 1;
}

.full-width {
  width: 100%;
}

.center-content {
  display: flex;
  align-content: center;
  justify-content: center;
}